* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr 80px;
    height: 100vh;
    color: #2a3b5e;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 1rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav ul {
    display: inline-flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

nav .nav-right-menu {
    justify-content: right;
}

nav .nav-left-menu {
    padding: 0rem 1rem;
    justify-content: left;
}

nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-title {
    cursor: pointer;
}

nav img {
    width: 28px;
}

main {
    padding: 1rem;
}

img {
    width: 100%;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style: none;
    padding: 1rem;
    gap: 1rem;
}

.product-item {
    width: 200px;
    position: relative;
}

.product-item__title {
    color: #1c2e53;
}

.product-item__price {
    font-weight: bold;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: .5rem;
}

.product-item__full-price.discounted {
    text-decoration: line-through;
    opacity: .6;
    font-weight: 300;
}

.product-item__discount {
    color: rgb(143, 18, 18);
}

.product-item__new {
    position: absolute;
    top: -1.4rem;
    right: 0rem;

    background-color: royalblue;
    color: white;
    padding: .2rem;

    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

    font-size: .7rem;
}

footer {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: #d7d7d7;
    color: #495775;
}
.footer-title {
    display: grid;
    padding: 1rem;
    justify-items: start;
}
.footer-country {
    display: grid;
    padding: 1rem;
    justify-items: end;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: #00000030;

    backdrop-filter: blur(2px);

    display: grid;
    place-items: center;
}

.modal {
    display: grid;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem 2.5rem;
    place-items: center;
    position: relative;
}

.modal__close-btn {
    position: absolute;
    top: 0;
    right: 0;

    background: none;
    border: none;
    padding: 0.3rem;
}

.modal__input {
    border-radius: .5rem;
    border-color: rgb(47, 122, 192);
    border-width: 1px;
    margin-top: .7rem;
    padding: .5rem;
}